
.depicter-revert.depicter-5 .depicter-layers-wrapper{
	padding-left:15px;
	padding-right:15px;
}
.depicter-revert .depicter-5-section-1 .depicter-section-background{
	background-color:#222222;
}
.depicter-revert .depicter-5-section-31 .depicter-section-background{
	background-color:#222222;
}

